body {
  background: url("../images/regBG.jpg") 30% 0 no-repeat fixed;
  color: white;
  height: 550px;
}
form {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.01);
}

#id_username_helptext,
ul li,
#id_password2_helptext {
  background-color: #546e7a;
  padding: 1px 2px;
}
