{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/userStyles.css' %}"
      type="text/css"
    />
    <script src="{% static 'js/addQuestions.js' %}"></script>
    <title>Fill Survey Form</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div role="alert" class="alert alert-success">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="stroke-current shrink-0 h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span>{{message}}</span>
      <button class="btn btn-sm" onclick="hideAlert()">
        <svg
          stroke="white"
          fill="white"
          stroke-width="0"
          viewBox="0 0 1024 1024"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670a8.32 8.32 0 0 0-1.9 5.2c0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z"
          ></path>
          <path
            d="M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"
          ></path>
        </svg>
      </button>
    </div>
    {% endfor %} {% endif %}

    <main class="text-white grid min-h-screen place-items-center">
      <form
        action="{% url 'fillSurvey' survey.surveyID %}"
        method="post"
        class="grid grid-cols-1 gap-4"
      >
        {% csrf_token %}
        <h1 class="text-4xl font-medium col-span-1">
          Survey title: {{ survey.title }}
        </h1>
        <h6 class="text-2xl font-medium col-span-1">
          Survey description: {{ survey.description }}
        </h6>
        {% if questions %} {% for qs in questions %}
        <label class="input input-bordered flex items-center gap-2 col-span-1">
          {% if qs.question and qs.q_type != "radio" %}
          <span>{{ qs.question }}: </span>
          {% endif %}
          <input
            type="{{ qs.q_type }}"
            name="{{ qs.question }}"
            class="grow"
            placeholder="Enter answer"
            required
          />
        </label>
        {% endfor %} {% endif %}
        <div class="col-span-1 text-center">
          <button type="submit" class="btn btn-primary w-full">Submit</button>
        </div>
      </form>
    </main>

    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
